@import url(https://fonts.googleapis.com/css?family=Ewert);

body {
  background: coral;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
  margin: 0;
  padding: 10px;
  padding-top: 40px;
}

.card {
  background: white;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 6px solid #00d1ff;
}

h1,
h2,
h3,
p,
a {
  text-align: center;
}

h1 {
  font-family: "Ewert", Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  color: coral;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #00d1ff;
  font-weight: normal;
}
hr {
  border: none;
  border: coral dashed 1px;
}

p,
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  color: #556c6c;
}
.links {
  background-color: coral;
  width: 100%;
  text-align: center;
}

.links a {
  color: #00d1ff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.links a:hover {
  color: white;
}
.links a:hover img {
  box-shadow: aqua 0 0 10px;
  border-radius: 6px;
}
